src/main/resources/ConsultarPedidov1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.eicon.com.br/EBO/Eicon/v1" 
	targetNamespace="http://www.eicon.com.br/EBO/Eicon/v1" elementFormDefault="qualified" 
	attributeFormDefault="qualified" version="1.0">
 
    <xsd:complexType name="ProdutoType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:integer"/>
            <xsd:element name="descricao" type="xsd:string"/>
            <xsd:element name="ativo" type="xsd:boolean"/>
        </xsd:sequence>
   	</xsd:complexType>
    
 	<xsd:complexType name="PedidoItemType">
		<xsd:sequence>
            <xsd:element name="id" type="xsd:integer"/>
            <xsd:element name="quantidade" type="xsd:integer"/>
            <xsd:element name="valor" type="xsd:double"/>
			<xsd:element name="produto" type="tns:ProdutoType" />
			<xsd:element name="pedido" type="tns:PedidoType" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ClienteType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:integer"/>
            <xsd:element name="nome" type="xsd:string"/>
            <xsd:element name="sobrenome" type="xsd:string"/>
            <xsd:element name="data-nascimento" type="xsd:date"/>
            <xsd:element name="data-inclusao" type="xsd:date"/>
        </xsd:sequence>
    </xsd:complexType>
    
	<xsd:complexType name="StatusType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:integer"/>
            <xsd:element name="descricao" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
 	<xsd:complexType name="PedidoType">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:integer" />
			<xsd:element name="data-pedido" type="xsd:date" />
			<xsd:element name="cliente" type="tns:ClienteType" />
			<xsd:element name="status" type="tns:StatusType" />
			<xsd:element name="itens" type="tns:ArrayOfPedidoItemType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ArrayOfPedidoItemType">
		<xsd:sequence>
			<xsd:element name="item" type="tns:PedidoItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ArrayOfPedidoType">
		<xsd:sequence>
			<xsd:element name="pedido" type="tns:PedidoType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
 	
    <xsd:element name="ConsultarPedidoRequest">
	    <xsd:complexType>
	        <xsd:sequence>
				<xsd:element name="pedido-id" type="xsd:integer" />
				<xsd:element name="data-pedido" type="xsd:date" />
				<xsd:element name="cliente-id" type="xsd:integer" />
	        </xsd:sequence>
	    </xsd:complexType>
    </xsd:element>
     
    <xsd:element name="ConsultarPedidoResponse">
	    <xsd:complexType>
	        <xsd:sequence>
	            <xsd:element name="pedidos" type="tns:ArrayOfPedidoType"/>
	        </xsd:sequence>
	    </xsd:complexType>
    </xsd:element>
     
</xsd:schema>